

#outerContainer{
    border: 1px solid blue;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 2fr 1fr;
    max-width: 70%;
    margin: 0 auto;
}

#gamePlay{
    border: 2px solid green;
    display: grid;
    grid-template: repeat(3, 10rem) / repeat(3, 1fr);
}
.square{
    border: 1px solid purple;
}

#header{
    border: 3px solid red;
    grid-column: 1/4;
}